<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.maskleo.demo1.mapper.TestMapper">
    <resultMap id="basicResult" type="edu.maskleo.demo1.domain.Test">
        <id property="id" column="ID" javaType="int" jdbcType="INTEGER"/>
        <id property="name" column="NAME" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOne" resultType="edu.maskleo.demo1.domain.Test">
        select * from TEST where id = #{id}
    </select>

    <select id="selectAll" resultMap="basicResult">
        select * from TEST
    </select>
</mapper>